:root{
    --verde-claro: #cfe7c0;
    --verde: #4caf50;
    --verde-oscuro: #2e7d32;
    --blanco: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}
/* primera seccion */
.fondo{
    width: 100%;
    height: 200vh;
    background-color: var(--verde-claro);
}
.parte1{
    width: 100%;
    height: 65vh;
}
.seccion1{
    width: 100%;
    height: 40vh;
    background-image: url(../multimedia/imagenes/descarga\ \(2\).jpg);
    background-size: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px var(--verde);
}
.datos{
    width: 30%;
    height: 15vh;
    background-color: #e2f5d6de;
    border-radius: 100px;
    box-shadow: 0 0 30px var(--verde);
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 30px;
    color: var(--verde-oscuro);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    width: 100%;
    font-size: 20px;
    color: var(--verde);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.img1{
    width: 250px;
    box-shadow: 0 0 30px var(--verde);
    border-radius: 100%;
    justify-content: center;
    margin-top: 250px;
}
ul,li{
    font-size: 20px;
    color: var(--verde-oscuro);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 100px;
    list-style: none;
}
.info{
    width: 140%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4caf4f6c;
    box-shadow: 0 0 30px #4caf4f9f;
}
#etiqueta{
    width: 12%;
    height: 5vh;
    font-size: 20px;
    color: var(--verde-claro);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--verde-oscuro);
    border-radius: 15px;
}
/* segunda seccion */
/* margin max 1rem-16px */
.seccion2{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.subtitulos{
    width: 28%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
.educacion{
    width: 41%;
    height: 24vh;
    background-color: #ffffff1a;
    box-shadow: 0 0 30px #4caf4f57;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p{
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    font-size: 18px;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin: 1rem;  
}
/* tercera seccion */
.seccion3{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.experiencia{
    width: 20%;
    height: 25vh;
    background-color: #2e7d322c;
    border-radius: 15px;
    justify-content: space-evenly;
    border-top-color: #2e7d32;
}
/* cuarta seccion */
.seccion4{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.div1{
    width: 55%;
    height: 20vh;
    background-color: #2e7d322c;
    border-radius: 15px;
}
.div2{
    width: 30%;
    height: 20vh;
    background-color: #2e7d322c;
    border-radius: 15px;
}
/* etiqueta se llama progress */